.game-main-wrapper {
  background-color: var(--dark-green);
  padding: 1.5rem 1.5rem 4rem 1.5rem;
  display: flex;
  flex-direction: column;
}
.game-title-wrapper {
  background-color: rgb(7, 34, 39);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.game-title-data-wrapper h6:first-child { margin-top: 0px; }
.game-name {
  text-align: center;
  margin-bottom: 2rem;
}
.game-subtitle {
  color: rgba(53, 133, 139,1);
  margin: 1.5rem 0rem 0.25rem 0rem;
  font-size: 12px;
  font-weight: 500;
}
.game-subtitle-data {
  font-weight: 400;
}
.game-title-image {
  width: 10rem;
  height: 15rem;
  object-fit: cover;
}

.game-description-wrapper { 
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin-top: 4rem;
}
.game-description-wrapper h6:first-child { margin-top: 0px; }
.game-description {
  max-height: 5.8rem;
  overflow: hidden;
}
.game-user-button-icon {
  width: 1.2rem;
}
.game-description-more,.game-user-button { 
  width: 7rem;
  height: 2rem;
  background: none;
  border: none;
  border: 1px solid var(--celadon-green);
}
.game-description-more:active {
  background-color: var(--celadon-green);
}
.game-user-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.game-user-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding: 3rem 1rem;
  margin-bottom: 2rem;
}
.game-description-more {
  margin-left: auto;
  border-radius: 5px;
  height: 2rem;
}
.game-account-first-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 1.5rem;
  justify-content: space-around;
  gap: 1rem;
}
.game-account-first-wrapper button,
.game-account-second-wrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  gap: 0.25rem;
  background: none;
  border: 1px solid var(--celadon-green);
  border-radius: 5px;
}
.game-account-first-wrapper button:active,
.game-account-second-wrapper button:active {
  background-color: var(--celadon-green);
}
.game-account-second-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.game-account-playing,.game-account-beaten { padding: 0rem 0.5rem; }
.game-account-second-wrapper { margin-top: 2.5rem; }
.game-account-whishlist,.game-account-library { width: 100%; }
.game-account-star-icon { width: 1rem; }