.home-main-wrapper { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 1.5rem 5rem 1.5rem;
  background-image: linear-gradient(to right top, #072227, #062c31, #04363a, #014043, #004b4b);
  gap: 2rem;
}
.home-vg-logo-wrapper {
  position: relative;
  width: 16rem;
  height: 6rem;
}
.logo-vg,
.logo-vault {
  position: absolute;
  font-size: 3rem;
  font-weight: 500;
}
.logo-vg {
  top: 0rem;
}
.logo-vault {
  top: 3rem;
  left: 1rem;
}
.logo-powered {
  position: absolute;
  right: 1.5rem;
  top: 3.75rem;
  font-size: .8rem;
}
.logo-rawg {
  position: absolute;
  right: 1.2rem;
  top: 4.5rem;
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: 3px;
}
.home-logo-subtitle {
  text-shadow: var(--text-light-shadow);
}
.home-info-wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column-reverse;
  gap: 5rem;
  margin-top: 3rem;
}
.summary-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin: 1rem 0rem;
}
.summary-item {
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .25rem;
  padding: .5rem;
  background-color: rgba(53, 133, 139, .1);
  box-shadow: var(--box-light-shadow);
}
.summary-icon {
  width: 2.5rem;
  filter: var(--svg-filter-verdigris);
}
.summary-title {
  font-size: 20px;
}
.summary-description {
  font-size: 15px;
}
.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  gap: 2rem;
}
.hero-title {
  width: 80%;
  line-height: 1.75rem;
  text-shadow: var(--text-light-shadow);
  font-size: 30px;
  text-align: center;
}
.hero-button {
  width: 10rem;
  height: 4rem;
  background: none;
  border: 1px solid var(--celadon-green);
  border-radius: 5px;
  background-color: var(--dark-green);
  box-shadow: 0px 0px 1px var(--celadon-green);
  font-size: 1.25rem;
  font-weight: bold;
}
.hero-button a {
  text-decoration: none;
}
.hero-button a:active {
  background-color: var(--celadon-green);
}
@media (max-width: 1440px) and (orientation: landscape) {
  .home-main-wrapper { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    height: 100vh;
    max-height: 100%;
    gap: 5rem;
  }
  .home-vg-logo-wrapper {
    width: 22rem;
    height: 10rem;
  }
  .logo-vg { font-size: 4rem;}
  .logo-vault {
    font-size: 4rem;
    top: 4rem;
  }
  .logo-powered {
    font-size: 1rem;
    top: 5.25rem;
    right: 3rem;
  }
  .logo-rawg {
    font-size: 1.5rem;
    top: 6.25rem;
    right: 2.65rem;
  }
  .home-logo-subtitle {
    font-size: 20px;
    margin-top: -4rem;
  }

  .home-info-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 4rem;
  }
  .hero-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0rem;
  }
  .hero-title { 
    width: 50%;
    font-size: 1.75rem;
  }
  .hero-button {
    margin: 0;
  }
  .home-logo-subtitle {
    text-align: center;
  }
  .home-info-wrapper {
    justify-content: center;
  }
  .hero-button:hover {
    background-color: var(--celadon-green);
    font-weight: bold;
    cursor: pointer;
  }
  .hero-button:active {
    transform: scale(95%);
  } 
  .summary-wrapper {
    width: 80%;
    flex-wrap: nowrap;
    margin: 0;
    cursor:default;
    gap: 4rem;
  }
  .summary-item {
    padding: 1rem;
    border-radius: 5px;
    width: 15rem;
    height: 11rem;
  }
}