@media (max-width: 425px) {
  .nav-link-text { display: none; }
  .nav-wrapper {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 1rem 2rem;
    z-index: 3;
  }
  .nav-icon { width: 2rem; }
}
@media (max-width: 1440px) and (orientation: landscape) {
  .nav-icon { width: 2rem; }
  .nav-wrapper{padding: 1rem;}
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 1rem;
  background-color: var(--dark-green);
}
.nav-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

